In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import Normalizer
from sklearn.decomposition import PCA

In [8]:
#importamos la tabla de join 
join = pd.read_json('https://www.dropbox.com/s/i1komhf7u1c4y95/joinTablas.json?dl=1')
display(df.columns)
#holi

In [10]:
#Ejemplos y columnas del dataframe
display(join.head(3))
display(join.columns)

Index(['RowID', 'Fecha', 'IDItem', 'NumeroUbicacion', 'Dewey', 'Ubicacion',
       'Llave', 'Programa', 'Facultad', 'IDUsuario', 'Year', 'Signatura',
       'TipoItem', 'Autor', 'Titulo', 'AnioPublicacion', 'DeweyEspecifico',
       'TemaDewey', 'DeweyUnidad', 'DeweyDecena', 'DeweyCentena', 'Temas',
       'Union'],
      dtype='object')

In [11]:
#Creamos la columna pesos para el dataframe a partir del año en que se realizó el prestamo
join["Peso"] = join.apply(lambda row: 1/2**(2021-row.Year), axis=1 )

In [26]:
#Esta funcion crea la tabla de pesos
#parámetros
    #columna = {deweyUnidad|deweyDecena|deweyCentena}
    #nombreArchivo = nombre con el que se va a exportar el archivo
def crearTablaPesos(columna, nombreArchivo):
    #Tabla = pesos_usuarios
        #columnas = deweys
        #filas = usuarios
        #dato = peso que tiene el usuario en dicho dewey
    pesos_usuarios = pd.DataFrame(columns= df[columna].unique(),dtype=float)
    tam = len(df[columna].unique())
    pesos_usuarios.columns = pesos_usuarios.columns.astype(str)
    display(pesos_usuarios)

    ids = df["IDUsuario"].unique()
    i = 0
    for usuario in ids:
      pesos_usuarios.loc[i] = np.zeros((tam,), dtype=int)
      #Para cada usuario traer sus Deweys y sus pesas asociados
      prestamos = df.loc[df["IDUsuario"]==usuario]
      deweys = prestamos[[columna,"Peso"]]
      result_user = deweys.groupby(columna)["Peso"].sum().reset_index(name="Peso")
      # Recorrer los Deweys y Pesos para plasmarlos en una matriz
      #display(result_user)
      for index, row in result_user.iterrows():
        d = row[columna]
        p=row['Peso']
        pesos_usuarios[str(int(d))][i] = p
      i = i+1
    ruta = r'C:/Users/johan/Desktop/GitKraken/DataOutOfGit/Limpieza/'
    ruta = ruta + nombreArchivo
    pesos_usuarios.to_json(ruta)

In [25]:
crearTablaPesos("DeweyUnidad", "pesos_usuario_x_dewey_unidad.json")

Empty DataFrame
Columns: [720, 540, 512, 712, 741, 814, 823, 330, 863, 696, 620, 744, 158, 943, 728, 574, 724, 711, 843, 745, 809, 307, 690, 301, 333, -999, 352, 388, 131, 303, 302, 305, 342, 986, 861, 725, 344, 701, 808, 363, 692, 726, 927, 759, 895, 813, 428, 746, 658, 332, 4, 918, 686, 304, 747, 153, 121, 862, 370, 617, 136, 629, 1, 517, 926, 721, 372, 612, 306, 155, 455, 947, 923, 616, 346, 864, 150, 154, 791, 111, 821, 709, 704, 688, 5, 891, 841, 736, 727, 152, 580, 822, 523, 591, 937, 691, 853, 811, 509, 339, ...]
Index: []

[0 rows x 755 columns]

,720,540,512,712,741,814,823,330,863,696,...,267,114,34,673,447,600,653,263,91,586
0,2.00,0.0,0.00,0.000,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.125
1,0.00,1.0,1.25,0.000,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
2,0.00,0.0,0.00,3.000,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
3,0.25,0.0,0.00,0.000,0.25,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
4,5.00,0.0,0.00,0.875,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24402,0.00,0.0,0.00,0.000,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
24403,0.00,0.0,0.00,0.000,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
24404,0.00,0.0,0.00,0.000,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
24405,0.00,0.0,0.00,0.000,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
24406,0.00,0.0,0.00,0.000,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000

In [27]:
crearTablaPesos("DeweyDecena", "pesos_usuario_x_dewey_decena.json")

Empty DataFrame
Columns: [720, 540, 510, 710, 740, 810, 820, 330, 860, 690, 620, 150, 940, 570, 840, 800, 300, -990, 350, 380, 130, 340, 980, 700, 360, 920, 750, 890, 420, 650, 0, 910, 680, 120, 370, 610, 450, 790, 110, 730, 580, 520, 590, 930, 850, 500, 880, 900, 320, 240, 410, 70, 490, 190, 260, 290, 970, 770, 550, 530, 630, 560, 670, 640, 830, 950, 440, 20, 250, 660, 760, 170, 600, 780, 230, 140, 390, 180, 270, 870, 430, 100, 10, 160, 220, 210, 400, 460, 470, 60, 200, 480, 960, 310, 280, 50, 90, 990, 30]
Index: []

[0 rows x 99 columns]

In [28]:
crearTablaPesos("DeweyCentena", "pesos_usuario_x_dewey_centena.json")

Empty DataFrame
Columns: [700, 500, 800, 300, 600, 100, 900, -900, 400, 0, 200]
Index: []

In [2]:
pesos_usuarios_unidad = pd.read_json('https://www.dropbox.com/s/oliptl0pv39bkjm/pesos_usuario_x_dewey_unidad.json?dl=1')

In [3]:
pesos_usuarios_decena = pd.read_json('https://www.dropbox.com/s/33xvh0xderxu1ss/pesos_usuario_x_dewey_decena.json?dl=1')

In [4]:
pesos_usuarios_centena = pd.read_json('https://www.dropbox.com/s/1gj7u98rozx6i72/pesos_usuario_x_dewey_centena.json?dl=1')

In [9]:
pesos_usuarios_unidad['IDUsuario'] = df.IDUsuario.unique()
pesos_usuarios_unidad.head(3)

,720,540,512,712,741,814,823,330,863,696,...,114,34,673,447,600,653,263,91,586,IDUsuario
0,2.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.125,c361c772cd0220bb16dcfb2ad803e4903334ab94
1,0.0,1.0,1.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,87b0e5a61ed712ddfaf5d478ad68c87c825997e9
2,0.0,0.0,0.00,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,afe8c17ba351d274fc5671978918f0c93032d88f

In [10]:
def normalizar_pesos(pesos_usuario):
    pesos_usuario['IDUsuario'] = df.IDUsuario.unique()
    copia = pesos_usuario.copy()
    copia = copia.drop(labels = ["IDUsuario"], axis = 1)
    sumatoria = copia.sum(axis=1)
    pesos_norm = copia.div(sumatoria, axis=0).fillna(0)
    pesos_norm_id = pesos_norm.copy()
    pesos_norm_id['IDUsuario'] = df.IDUsuario.unique()
    
    return pesos_norm_id

In [11]:
def eliminar_cero(id_usuario, df_pesos):
    m1 = (df_pesos['IDUsuario'] == id_usuario)
    m2 = (df_pesos[m1] != 0).all()
    return df_pesos.loc[m1,m2]

In [12]:
pesos_norm_id_unidad = normalizar_pesos(pesos_usuarios_unidad)
display(pesos_norm_id_unidad.shape[0])

24407

In [13]:
pesos_norm_id_decena = normalizar_pesos(pesos_usuarios_decena)
display(pesos_norm_id_decena.shape[0])

24407

In [14]:
pesos_norm_id_centena = normalizar_pesos(pesos_usuarios_centena)
display(pesos_norm_id_centena.shape[0])

24407

In [16]:
display(eliminar_cero('c361c772cd0220bb16dcfb2ad803e4903334ab94',pesos_usuarios_unidad))

,720,711,725,726,428,746,155,770,378,589,771,584,582,586,IDUsuario
0,2.0,0.25,0.125,0.5,0.5,0.25,0.25,0.25,0.5,0.125,0.125,0.125,0.125,0.125,c361c772cd0220bb16dcfb2ad803e4903334ab94

In [17]:
def clustering(df_pesos, treshold, nombre_archivo):
    i = 0
    resultados = pd.DataFrame(columns = ['IDUsuario', 'Cluster', 'Pertenencia','Peso'])
    for usuario in df_pesos.IDUsuario.unique():
        usuario_limpio = eliminar_cero(usuario, df_pesos)
        usuario_limpio = usuario_limpio.drop(labels = 'IDUsuario', axis = 1)
        for column in usuario_limpio:
            if usuario_limpio.iloc[0][column] >= treshold:
                peso = df_pesos.loc[df_pesos.IDUsuario == usuario][column]
                #print(peso.values[0])
                resultados.loc[i] = np.array([usuario, column, usuario_limpio.iloc[0][column],peso.values[0]])
                i = i + 1
    '''
    ruta = r'C:/Users/johan/Desktop/GitKraken/DataOutOfGit/Limpieza/'
    ruta = ruta + nombreArchivo
    resultados.to_json(ruta)
    '''
    return resultados

In [ ]:
pesos_clustering = clustering(pesos_norm_id_unidad, 0, 'pesos_clustering_unidad.json')
display(pesos_clustering)

In [59]:
pesos_clustering.to_json(r'C:\Users\user\Downloads\pesos_clustering.json')

In [18]:
pesos_clustering = pd.read_json('https://www.dropbox.com/s/3clldbh4bv3v4m8/pesos_clustering.json?dl=1')

In [22]:
display(pesos_clustering.head(3))
print(pesos_clustering.shape)

                                  IDUsuario Cluster  Pertenencia   Peso
0  c361c772cd0220bb16dcfb2ad803e4903334ab94     720     0.380952  2.000
1  c361c772cd0220bb16dcfb2ad803e4903334ab94     711     0.047619  0.250
2  c361c772cd0220bb16dcfb2ad803e4903334ab94     725     0.023810  0.125

(125653, 4)

In [23]:
from sklearn import preprocessing
join = pd.read_json('https://www.dropbox.com/s/i1komhf7u1c4y95/joinTablas.json?dl=1')
display(join.head(3))

,RowID,Fecha,IDItem,NumeroUbicacion,Dewey,Ubicacion,Llave,Programa,Facultad,IDUsuario,...,Autor,Titulo,AnioPublicacion,DeweyEspecifico,TemaDewey,DeweyUnidad,DeweyDecena,DeweyCentena,Temas,Union
0,Row0,1547050497000,80000005327627,720.98 A71S,720,COL-GRAL-2,866245,CARRERA DE ARQUITECTURA,arquitectura y diseño,c361c772cd0220bb16dcfb2ad803e4903334ab94,...,"Arango Cardinal, Silvia 1948-",Ciudad y arquitectura seis generaciones que co...,2012.0,720.98,Arquitectura latinoamericana,720,720,700,"[arquitectur, histori, amer, latin]",arquitectur histori amer latin
1,Row1,1547050500000,80000001191496,720.9861 A71,720,COL-GRAL-2,309945,CARRERA DE ARQUITECTURA,arquitectura y diseño,c361c772cd0220bb16dcfb2ad803e4903334ab94,...,"Arango Cardinal, Silvia 1948-",Historia de la arquitectura en Colombia Silvia...,1993.0,720.9861,Arquitectura colombiana,720,720,700,"[arquitectur, colonial, histori, colombi]",arquitectur colonial histori colombi
2,Row2,1547138763000,80000004979759,540 CH15Q 2010,540,COL-GRAL-3,822727,CARRERA DE ARQUITECTURA,arquitectura y diseño,87b0e5a61ed712ddfaf5d478ad68c87c825997e9,...,"Chang, Raymond",Química Raymond Chang ; revisión técnica Rosa ...,2010.0,540,Química,540,540,500,[quimic],quimic

In [24]:
def rank_material(pesos_clustering, cluster, Dewey_XD):
    #Buscamos únicamente a los usuarios que tienen un grado de pertenencia al cluster.
    usuarios = pesos_clustering.loc[pesos_clustering.Cluster == str(cluster)]
    usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
    usuarios.loc[usuarios.Peso > 10, "Peso"] = 10
    #normalizar columna de peso
    max_value = usuarios["Peso"].max()
    min_value = usuarios["Peso"].min()
    usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
   #filtramos de la tabla de join los rows con el dewey
    #prestamos = pesos_clustering.loc[join.Signatura == cluster]
    prestamos = join.loc[join[Dewey_XD] == cluster]
    #join
    prestamos_data = pd.DataFrame(data=prestamos)
    usuario_data = pd.DataFrame(data=usuarios)
    join_tablas = pd.merge(prestamos_data, usuario_data, left_on='IDUsuario', right_on='IDUsuario', how='inner')
    materialRank = join_tablas.groupby(["Llave"])["Peso"].sum().reset_index(name="Peso")
    materialRank = materialRank.sort_values(by=["Peso"],ascending=False)
    return materialRank

In [179]:
lista_recomendaciones = rank_material("720")

TypeError: rank_material() missing 2 required positional arguments: 'cluster' and 'Dewey_XD'

In [ ]:
pesos_norm_id = normalizar_pesos(pesos_usuarios_unidad)
pesos_norm_id_cluster = clustering(pesos_norm_id, 0, "")

In [186]:
def generar_recomendacion(pesos_clustering, cluster, peso_x_nivel, total_recomendaciones, material_rankeado):
    recomendaciones = pd.DataFrame(columns = ['IDUsuario', 'Llave', 'Nivel'])
    
    prestamos_cluster = pesos_clustering.loc[pesos_clustering.Cluster == str(cluster)]
    #print("Clusters encontrados: ", prestamos_cluster.shape[0])
    #print(pesos_clustering.Cluster, "---", cluster)
    #prestamos_cluster = prestamos_cluster.head(10)
    prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float) 
    for index, row in prestamos_cluster.iterrows():
        num_prestamos = round(row["Pertenencia"] * peso_x_nivel * total_recomendaciones)
        #print(num_prestamos)
        #print("Recomendaciones para el usuario:", row["IDUsuario"])
        aux = material_rankeado.head(num_prestamos)
        #print(aux.Llave)
        for llave in aux.Llave.iteritems():
            aux_df = {'IDUsuario': row.IDUsuario, 'Llave': aux.Llave, 'Nivel': peso_x_nivel}
            print("Aux: ", aux_df)
            recomendaciones.append(aux_df, ignore_index = True)
            print("Recomendaciones del cluster: ", cluster, recomendaciones.shape[0])
    return recomendaciones

In [25]:
def recomendaciones_nivel(df_pesos, peso_x_nivel, total_recomendaciones):
    recomendaciones = pd.DataFrame(columns = ['IDUsuario', 'Llave', 'Nivel'])
    #pesos_norm_id = normalizar_pesos(df_pesos)
    #pesos_norm_id_cluster = clustering(pesos_norm_id, 0, "")
    for cluster in df_pesos:
        material_rankeado = rank_material(pesos_norm_id_cluster, cluster, "DeweyUnidad")
        print(material_rankeado)
        #lista_recomendaciones = generar_recomendacion(pesos_norm_id_cluster, cluster, peso_x_nivel, total_recomendaciones, material_rankeado)
        #print(lista_recomendaciones.shape[0])
        #recomendaciones = pd.concat([recomendaciones, lista_recomendaciones], axis = 0)
        
    #return recomendaciones

In [26]:
#display(pesos_usuarios_unidad)
#display(pesos_norm_id_cluster)
recomendaciones_final = recomendaciones_nivel(pesos_usuarios_unidad, 0.7, 10)

NameError: name 'pesos_norm_id_cluster' is not defined

In [153]:
display(recomendaciones_final.shape[0])

0